* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.box_howver :hover {
  text-decoration: none;
  color: #BA1516;
}

header {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  background-image: url("../../public/images/anh header1.png.png");
}
header .weeks {
  width: 250px;
  height: 40px;
  background-color: white;
  border-radius: 7px;
}
header .weeks .date {
  font-family: "Inter", serif;
}
header .logo a {
  text-decoration: none;
  color: black;
}
header .logo p {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
nav {
  background-color: aliceblue;
  border-bottom: 1px solid #C2EAF2;
  position: relative;
}
nav .sider-bar {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .sider-bar li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  overflow: hidden;
}
nav .sider-bar li {
  list-style: none;
  overflow: hidden;
}

.box-body-category {
  font-family: "Inter", serif;
}
.box-body-category h1 {
  border-bottom-style: double;
  border-bottom-color: coral;
  color: rgb(190, 31, 31);
}
.box-body-category .detail-categories a {
  display: inline-block;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: black;
}
.box-body-category .detail-categories a img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-body-category .detail-categories a h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box-body-category .detail-categories a span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box-body-category .detail-categories :hover {
  color: #BA1516;
}

.information-relate-to h2 {
  border-bottom-style: double;
  border-bottom-color: coral;
  color: rgb(190, 31, 31);
}
.information-relate-to .infor-cate {
  padding-bottom: 10px;
}
.information-relate-to .infor-cate a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.information-relate-to .infor-cate a img {
  width: 100%;
  height: 250px;
}
.information-relate-to .infor-cate a h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-relate-to .infor-cate a span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-relate-to .infor-cate :hover {
  color: #BA1516;
}
.information-relate-to .infor-cate-1 {
  padding-bottom: 10px;
  margin-top: 20px;
}
.information-relate-to .infor-cate-1 a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.information-relate-to .infor-cate-1 a img {
  width: 100%;
  height: 250px;
}
.information-relate-to .infor-cate-1 a h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-relate-to .infor-cate-1 a span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-relate-to .infor-cate-1 :hover {
  color: #BA1516;
}
.information-relate-to .infor-cate-2 {
  margin-top: 20px;
}
.information-relate-to .infor-cate-2 a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.information-relate-to .infor-cate-2 a img {
  width: 100%;
  height: 250px;
}
.information-relate-to .infor-cate-2 a h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-relate-to .infor-cate-2 a span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.information-relate-to .infor-cate-2 :hover {
  color: #BA1516;
}

.banner {
  margin-top: 20px;
}
.banner a img {
  width: 100%;
}

footer {
  margin-top: 30px;
}
footer a {
  text-decoration: none;
  color: black;
  width: 100%;
}
footer a img {
  width: 100%;
}
footer :hover {
  text-decoration: none;
}
footer .infor-company p {
  margin-bottom: 0;
}/*# sourceMappingURL=category.css.map */