* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.box_howver {
    :hover {
        text-decoration: none;
        color: #BA1516;
    }
}

header {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    background-image: url('../../public/images/anh\ header1.png.png');

    .weeks {
        width: 250px;
        height: 40px;
        background-color: white;
        border-radius: 7px;

        .date {
            font-family: "Inter", serif;
        }
    }

    .logo {
        a {
            text-decoration: none;
            color: black;
        }

        p {
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .weather {}
}

nav {
    background-color: aliceblue;
    border-bottom: 1px solid #C2EAF2;
    position: relative;

    .sider-bar {
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li a {
            text-decoration: none;
            color: black;
            display: inline-block;
            overflow: hidden;
        }

        li {
            list-style: none;
            overflow: hidden;
        }

    }
}



.box-body-category {
    font-family: "Inter", serif;

    h1 {
        border-bottom-style: double;
        border-bottom-color: coral;
        color: rgb(190, 31, 31);
    }

    .detail-categories {
        a {
            display: inline-block;
            width: 100%;
            height: auto;
            text-decoration: none;
            color: black;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            h4 {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            span {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        :hover {
            color: #BA1516;
        }
    }
}

.information-relate-to {
    h2 {
        border-bottom-style: double;
        border-bottom-color: coral;
        color: rgb(190, 31, 31);
    }

    .infor-cate {
        a {
            text-decoration: none;
            color: black;
            width: 100%;

            img {
                width: 100%;
                height: 250px;
            }

            h4 {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            span {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }

    .infor-cate-1 {
        margin-top: 20px;

        a {
            text-decoration: none;
            color: black;
            width: 100%;

            img {
                width: 100%;
                height: 250px;
            }

            h4 {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            span {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }

}

.banner {
    margin-top: 20px;

    a {
        img {
            width: 100%;
        }
    }
}

footer {
    margin-top: 30px;

    a {
        text-decoration: none;
        color: black;
        width: 100%;

        img {
            width: 100%;
        }


    }

    :hover {
        text-decoration: none;
    }

    .infor-company {
        p {
            margin-bottom: 0;
        }
    }
}